version: "3"

services:
  db :
    image: mysql
    environment:
      MYSQL_DATABASE: "devops"
      MYSQL_USER: "user"
      MYSQL_PASSWORD: "devops"
      MYSQL_ROOT_PASSWORD: "rootdevops"
    ports:
      - "3309:3306"

  unite_1:
    container_name: unite_1
    build: ./automate/
    environment:
      - UNITE=1

  unite_2:
    container_name: unite_2
    build: ./automate/
    environment:
      - UNITE=2

  unite_3:
    container_name: unite_3
    build: ./automate/
    environment:
      - UNITE=3

  unite_4:
    container_name: unite_4
    build: ./automate/
    environment:
      - UNITE=4

  unite_5:
    container_name: unite_5
    build: ./automate/
    environment:
      - UNITE=5